full-calendar {
  background-color: #d9d7d7;
  padding: 10px 20px;
  border-radius: 10px;
  margin: auto;
  width: 60%;
  max-height: 450px;
}

div {
  margin: 10px auto auto auto;
  width: 80%;
  text-align: center;
}

