div full-calendar {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin: auto;
  width: 80%;
  max-height: 450px;
}

div {
  margin: 10px auto auto auto;
  width: 80%;
  text-align: center;
}

h2 {
  padding: 20px;
  font-size: 40px;
}


