div {
  margin: 30px auto auto auto;
  width: 80%;
  text-align: center;
}

div.btn-group {
  //align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  alignment: center;
}

button {
  color: #966969;
  font-weight: bold;
  height: 40px;
  width: 200px;
  padding: 3px;
  background: none;
  border: 3px solid #966969;
}

button:focus {
  background-color: #966969;
  color: white;
}

div.btn-group .button:not(:last-child) {
  border-right: none;
}