button {
  padding: 4px 10px;
  margin: 5px;
  border: 2px;
  border-radius: 4px;
}

div {
  margin: auto;
  width: 50%;
  align-content: center;
}

full-calendar {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}


