html {
  background: linear-gradient(180deg, #f5e5d7, #faf2eb); //#fcc79e, #795442
  width: 100%;
  min-height:100vh;
  background-size: cover;
  font-family: "Courier New";
  color: #49270d;
  padding-bottom: 20px;
}

a {
  color: #966969;
  font-weight: bold;
}

h2 {
  color: #966969;
  text-align: center;
}

div {
  color: #966969;
}

div.welcome {
  width: 800px;
  height: 450px;
  padding: 20px;
  margin: 40px;
  float: left;
  border-radius: 20px;
  position: relative;
}

div.welcome pre{
  font-size: 100px;
}

div.topnav {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid 1px;
}

div.topnav a {
  float: left;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

input {
  border: solid 1px;
  border-radius: 6px;
  background: none;
  margin-right: 10px;
  font-size: small;
  width: 225px;
  padding-top: 3px;
}

//div.topnav a:active {
//  color: white;
//}

