<head>
    <link rel="stylesheet" href="./todo.component.scss">
</head>
<div class="head">
    <h2>Neue Aufgabe erstellen</h2>
</div>
<div class="addItem">
    <div><label for="title">Titel: </label></div>
    <div><input type="text" id="title" [(ngModel)]="title" style="width: 91%"></div>

    <div><label for="date">Datum: </label></div>
    <div id="date">
        <input class="date" type="datetime-local" [(ngModel)]="startDate">
        -
        <input class="date" type="datetime-local" [(ngModel)]="dueDate">
    </div>

    <div><label for="desc">Beschreibung: </label></div>
    <div><textarea id="desc" rows="10" cols="43" [(ngModel)]="description"></textarea></div>
    <div><label  for="desc">Wiederholung der Veranstaltung: </label></div>
    <div>
        <select [(ngModel)]="selectedRecurrence">
            <option *ngFor="let r of recurrence" [ngValue]="r">{{r.name}}</option>
        </select>
    </div>
    <div><p></p></div>
    <div class="btn">
        <button class="add" (click)="addTodo(title,description, startDate, dueDate, selectedRecurrence)" style="margin-left: 350px">Erstellen</button>
    </div>
    <br>
</div>

<div class="added">Neu hinzugefügt:</div>

<div *ngFor="let item of getTodos()" style="padding:0 10px;margin-bottom:10px;border: solid 1px">
    <div class="displayTodo">
        <div>
            <p style="font-size: larger"><b>{{ item.title}}</b></p>
            <p><b>bis: </b>{{ item.dueDate}}</p>
        </div>
        <b>Beschreibung: </b>{{ item.description }}<br>
        <div>
            {{ item.creationDate | date:'dd.MM.YY' }}
        </div>
        <!--{{item.startDate}}-->
    </div>
</div>



