div {
  margin: auto;
  width: 50%;
  align-content: center;
  //text-align: center;
  //display: flex;
}

div.added{
  font-size: 20px;
  font-weight: bold;
}

div.head {
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center;
  //justify-content: center;
}

div.addItem {
  margin-bottom: 20px;
  //text-align: left;

}

div.displayTodo {
  width: 100%;
}

div.displayTodo div {
  width:100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button {
  padding: 3px 10px;
  border: solid 1px;
  border-radius: 5px;
  background: none;
}

button:hover {
  color: black;
}

button.add {
  margin-left: 5px;
}

input {
  border: 1px;
  border-radius: 3px;
  margin: 10px;
}

div.date {
  //margin-left: 70px;
  width: 100%;
  //text-align: left;
}

div.btn {
  width: 100%;
  display: flex;
  justify-content: right;
}

label {
  margin-right: 20px;
}

input.date {
  //height: 20px;
  margin-left: 0;
}

