input {
  border: solid 1px;
  border-radius: 6px;
  background: none;
  margin-right: 10px;
  font-size: small;
  width: 225px;
  padding-top: 3px;
}

full-calendar {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
