/* You can add global styles to this file, and also import other style files */
html {
  background: linear-gradient(180deg, #f5e5d7, #faf2eb); //#fcc79e, #795442
  width: 100%;
  min-height:100vh;
  background-size: cover;
  font-family: "Courier New";
  color: #966969;
  padding-bottom: 20px;
}

h1 {
  color: #966969;
  font-weight: bold;
  font-size: 75px;
}

div.links {
  color: #966969;
}

label {
  color: #966969;
}

h2 {
  color: #966969;
  font-weight: bold;
  text-align: center;
}

a {
  color: #966969;
  font-weight: bold;
}

